header {
    background: var(--white);
    box-shadow: var(--boxShadow);

    .logo {
        @include fontStyle(2rem, var(--black));

        span {
            color: var(--mainColor);
        }
    }

    .navbar {
        a {
            margin-left  : 3px;
            padding      : .5rem 1.5rem;
            border-radius: 5rem;
            @include fontStyle(1.8rem, var(--black));

            &.active,
            &:hover {
                background: var(--mainColor);
                box-shadow: var(--boxShadow);
                color     : var(--white);
            }
        }
    }

    .themeToggle,
    .menuBar {
        cursor    : pointer;
        transition: .2s linear;
        @include fontStyle(2.2rem, var(--mainColor));
    }

}