.prevent {

    .box {

        flex            : 1 1 300PX;
        text-align      : center;
        border-radius   : .5rem;
        background-color: var(--dimLight);

        img {
            height       : 7rem;
            margin-bottom: 1rem;
        }

        h3 {
            @include fontStyle(2.2rem, var(--mainColor));
        }

        p {
            @include fontStyle(1.6rem, var(--black));

        }
    }
}