@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
/* 5 - Feb - 2022  */
:root {
  --svgColor: #fbad37;
  --mainColor: #FA9805;
  --black: #244361;
  --white: #FFF;
  --dimLight: #f8f8fe;
  --boxShadow: 0 5px 10px rgba(0, 0, 0, .1);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none !important;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

body.userClick {
  --black: #62affc;
  --white: #333;
  --dimLight: #b9b9b9;
}

/*
    100% / 16px = 6.25%
    6.25% == 1px 

    6.25% * 10 = 62.5% 
    62.5% == 10px
*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
}

/* 
Style Scale for all 
but in responsive - its resizing at 991px
*/
section {
  padding: 2rem 7%;
}

section:nth-child(even) {
  background-color: var(--dimLight);
}

.link-btn {
  display: inline-block;
  padding: 0.5rem 2.5rem;
  border-radius: 5rem;
  cursor: pointer;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background-color: var(--mainColor);
  font-size: 1.8rem;
  color: var(--white);
}

.link-btn:hover {
  color: var(--white);
  background-color: var(--black);
}

.heading {
  text-align: center;
  padding-bottom: .5rem;
  font-size: 3rem;
  color: var(--black);
}

.heading span {
  color: var(--mainColor);
}

.colorSwitcher {
  position: fixed;
  top: 10rem;
  right: -25rem;
  width: 25rem;
  padding: .5rem;
  z-index: 10000;
  background: transparent;
  -webkit-transition: right .3s ease;
  transition: right .3s ease;
}

.colorSwitcher.userClick {
  right: 0;
}

.colorSwitcher .switchBtn {
  position: absolute;
  top: -2rem;
  left: -6rem;
  padding: 2rem;
  cursor: pointer;
  background: transparent;
  font-size: 4rem;
  color: var(--mainColor);
}

.colorSwitcher .switchBtn i {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.colorSwitcher h3 {
  color: var(--mainColor);
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--mainColor);
  padding: 5px 0;
  text-align: center;
}

.colorSwitcher .themeBtnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colorSwitcher .themeBtnContainer .themeBtn {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  background: var(--white);
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
}

header .logo {
  font-size: 2.8rem;
  color: var(--black);
}

header .logo span {
  color: var(--mainColor);
}

header .navbar a {
  margin-left: 3px;
  padding: .5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.8rem;
  color: var(--black);
}

header .navbar a.active, header .navbar a:hover {
  background: var(--mainColor);
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
  color: var(--white);
}

header .themeToggle,
header .menuBar {
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-size: 2.8rem;
  color: var(--mainColor);
}

.home {
  min-height: 100vh;
  background: url(../img/home-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.home .content h3 {
  font-weight: bolder;
  font-size: 5rem;
  color: var(--mainColor);
}

.home .content span {
  font-size: 2rem;
  color: var(--mainColor);
}

.about .content h3 {
  font-size: 3.3rem;
  color: var(--black);
}

.about .content p {
  font-size: 1.8rem;
  color: #777;
}

.prevent .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300PX;
          flex: 1 1 300PX;
  text-align: center;
  border-radius: .5rem;
  background-color: var(--dimLight);
}

.prevent .box img {
  height: 7rem;
  margin-bottom: 1rem;
}

.prevent .box h3 {
  font-size: 2.2rem;
  color: var(--mainColor);
}

.prevent .box p {
  font-size: 1.6rem;
  color: var(--black);
}

.experts .box {
  width: 26rem;
  margin: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: .5rem;
  background-color: var(--white);
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
  overflow: hidden;
  position: relative;
}

.experts .box img {
  width: 100%;
  margin-bottom: 0.8em;
  border-radius: .5rem;
  background-color: var(--dimLight);
}

.experts .box h3 {
  margin-top: 0.2rem 0;
  font-size: 2.2rem;
  color: var(--black);
}

.experts .box span {
  font-size: 1.6rem;
  color: var(--mainColor);
}

.experts .box:hover .share {
  right: 1.5rem;
}

.experts .box .share {
  position: absolute;
  top: .5rem;
  right: -5rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.experts .box .share a {
  display: block;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  margin-top: 0.5rem;
  text-align: center;
  border-radius: .3rem;
  cursor: pointer;
  background-color: var(--mainColor);
  font-size: 1.6rem;
  color: var(--white);
}

.experts .box .share a:hover {
  background-color: var(--black);
}

.contact form {
  padding: 1.5rem;
  border-radius: .5rem;
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
}

.contact form .box,
.contact form textarea {
  font-size: 1.8rem;
  color: var(--black);
  background-color: var(--dimLight);
  text-transform: none;
  border-radius: .5rem;
  padding: 1rem;
  margin: 0.7rem 0;
  width: 100%;
}

.contact form textarea {
  resize: none;
  height: 15rem;
}

.contact .map {
  border-radius: .5rem;
  width: 100%;
  height: 100%;
}

.blogs .box {
  width: 38rem;
  border-radius: .5rem;
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
  background-color: var(--white);
  cursor: pointer;
}

.blogs .box .image {
  height: 20rem;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
  background-color: var(--dimLight);
}

.blogs .box .image img {
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.blogs .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}

.blogs .box .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
}

.blogs .box .content .icons a {
  font-size: 1.4rem;
  color: #777;
}

.blogs .box .content .icons a i {
  padding-right: 0.7rem;
}

.blogs .box .content .icons a:hover {
  color: var(--mainColor);
}

.footer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 13rem;
          flex: 1 1 13rem;
}

.footer .box h3 {
  font-weight: bolder;
  font-size: 2rem;
  color: #777;
}

.footer .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  color: #777;
}

.footer .box a:hover {
  color: var(--mainColor);
}

.footer .box a:hover i {
  margin-right: .6rem;
}

.footer .box a i {
  color: var(--mainColor);
}

.footer .box a .fab {
  margin-right: .4rem;
}

.footer .box .email {
  text-transform: lowercase;
  font-size: 1.2rem;
}

.footer .credit {
  font-size: 2rem;
  color: var(--black);
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  padding-top: 2rem;
}

.footer .credit span {
  color: var(--mainColor);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
  .home .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    -webkit-transition: .2s linear;
    transition: .2s linear;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.userClick {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    display: block;
    width: 100%;
    margin: 1rem;
  }
  header .fa-times {
    color: tomato;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media (max-width: 450px) {
  header .logo,
  header .menuBar {
    padding: 0 .5rem;
  }
  .colorSwitcher {
    top: 8rem;
  }
  .home .content {
    margin-top: -10rem;
  }
  .home .content h3 {
    font-size: 2.5rem;
  }
  .home .content span {
    font-size: 1.5rem;
  }
  .colorSwitcher .switchBtn {
    left: -5rem;
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */